* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}

body {
    font-size: 16px;
    overflow-x: hidden;
    color: #333;
    line-height: 1.5;
}

.header {
    width: 100%;
    overflow-x: hidden;
}

.header-info {
    height: 80px;
    background: #404040;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75rem;
    position: relative;
}

.header__menu_button {
    background: none;
    border: none;
    font-size: 1.5rem;
    height: 50px;
    width: 50px;
    color: white;
    position: absolute;
    right: 10px;
    top: 15px;
    cursor: pointer;
    display: none;
}

.button-order {
    font-size: 1rem;
    font-weight: 700;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    padding: 12px 24px;
    color: white;
    background-color: #E05100;
    border: none;
    cursor: pointer;
}

.header-button-order {
    margin-left: 3vw;
}

.header-block-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    margin-right: 1.7rem;
}

.nav {
    height: 80px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    max-width: 100%;
    overflow-x: hidden;
}

.menu {
    display: flex;
    align-items: center;
}

.list {
    display: flex;
    list-style: none;
    gap: 2rem;
}

.menu-link {
    color: black;
    text-decoration: none;
    font-weight: 700;
    font-size: 0.75rem;
}

.main {
    max-width: 1050px;
    margin: 40px auto;
    padding: 0 20px;
}

.h2 {
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

.controls {
    display: flex;
    gap: 1rem;
    margin-bottom: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

#search-input, #sort-select, #category-select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 0.9rem;
    min-width: 200px;
    width: 100%;
    max-width: 300px;
}

.method-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
    justify-content: center;
}

.catalog-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between; 
    max-width: 1050px;
    width: 100%;
}

.product-card {
    border-radius: 30px;
    height: 349px;
    width: calc(50% - 10px); 
    display: flex;
    flex-direction: row;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
    background-color: white;
    overflow: hidden;
}

.product-image {
    height: 172px;
    width: 283px;
    object-fit: cover;
    border-radius: 30px 0 0 30px;
}

.product-prices {
    width: 180px;
    background-color: #404040;
    color: white;
    border-radius: 0 30px 30px 0;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    position: relative;
}

.price {
    padding: 20px;
}

.price-item {
    margin-bottom: 18px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    line-height: 20px;
}

.add-to-cart {
    background-color: #E05100;
    color: white;
    border: none;
    border-radius: 30px 0 30px 0;
    width: 69px;
    height: 59px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    right: 0;
}

.product-info {
    flex: 1;
    padding: 20px;
    color: #333;
    font-size: 14px;
    display: flex;
    flex-direction: column;
}

.product-info-description {
    margin-top: 20px;
    line-height: 24px;
}

.color-options {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

.color {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid #ddd;
}

.no-results {
    text-align: center;
    font-size: 1rem;
    color: #E05100;
    margin: 20px 0;
    padding: 20px;
    display: none;
}
.footer {
  padding-top: 20px;
  color: black;
  margin: 0 15vw;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  gap: 9.375vw;
  max-width: 1200px;
  width: 100%;
  overflow-x: hidden;
}

.footer-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 150px;
  flex: 1;
}

.footer-column p {
  padding: 2px;
}

.footer-title {
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 8px;
  color: #E05100;
}

.footer-item {
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

.footer-icon {
  width: 22px;
  height: 22px;
}

.footer-column p {
  font-size: 12px;
  line-height: 16px;
}

.footer-copyright {
  text-align: center;
  margin-top: 10px;
  font-size: 12px;
}

@media screen and (max-width: 1250px) {
    .header-block-info img {
        display: none;
    }
   .footer {
    margin: 0 8vw;
  }
  .footer-container {
    flex-wrap: wrap;
    justify-content: center;
    gap: 8vw;
  }
}

@media screen and (max-width: 1020px) {
    .nav img {
        display: none;
    }
    .header-block-info {
        margin-right: 2.5rem;
    }
    .button-order {
        padding: 12px 16px;
        width: 170px;
    }
    .header-button-order {
        padding: 12px 8px;
    }
  .footer {
    margin: 0 50px;
  }
  .footer-container {
    gap: 30px;
  }

}

@media screen and (max-width: 768px) {
    .nav {
        display: none;
    }
    .header-block-info {
        display: none;
    }
    .button-order {
        display: none;
    }
    .header__menu_button {
        display: block;
    }
    .catalog-container {
        justify-content: center;
    }
       .product-card {
        width: 100%;
        max-width: 100%;
    }
    .product-image {
        width: 100%;
        height: 200px;
        border-radius: 30px 30px 0 0;
    }
    .product-prices {
        width: 100%;
        border-radius: 0 0 30px 30px;
    }
}

@media screen and (max-width: 600px) {
    .product-card {
        max-width: 100%;
    }
  .footer {
    margin: 0 15.625vw;
  }
  .footer-container {
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.375rem;
    width: auto;
  }
  .footer-title {
    font-size: 0.75rem;
  }
  .footer-copyright {
    font-size: 0.625rem;
  }
}

@media screen and (max-width: 480px) {
    .controls {
        flex-direction: column;
        align-items: center;
    }
    #search-input, #sort-select, #category-select {
        width: 100%;
    }
    .method-buttons {
        flex-direction: column;
        align-items: center;
    }
    .button-order {
        width: 100%;
        margin: 5px 0;
    }
    .product-card {
        height: auto;
        width: 100%;
    }
    .product-image {
        height: 150px;
        width: 100%;
    }
    .product-prices {
        width: 100%;
    }
    .price {
        padding: 8px;
    }
    .price-item {
        margin-bottom: 8px;
        font-size: 7px;
        line-height: 11px;
    }
    .add-to-cart {
        width: 49px;
        height: 39px;
        font-size: 16px;
    }
    .product-info {
        padding-top: 18px;
        font-size: 7px;
    }
    .product-info-description {
        margin-top: 14px;
        line-height: 12px;
    }
    .color-options {
        margin-top: 6px;
        gap: 5px;
    }
    .color {
        height: 8.89px;
        width: 7.75px;
    }

  .footer-container {
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.375rem;
    width: auto;
    padding: 0 1.5rem;
  }

}